.card {
  background-color: mintcream;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: var(--128px); */
  height: 60vh;
  width: 50vw;
  padding: var(--16px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input_group {
  background-color: red;
  display: flex;
  flex-direction: column;
}
