.main {
  background-color: mintcream;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: var(--128px); */
  height: 50vh;
  width: 60vw;
  padding: var(--16px);
  position: absolute;
  margin: auto;
}

.input_group {
  background-color: red;
  display: flex;
  flex-direction: column;
}
